.container{
    height: 500px;
    width: 500px;
    margin-top: 50px;
   
}


.mat-card-container{
    height: 500px;
    width: 600px;
}



.inner-container{
    height: 80%;
    width: 90%;
    margin: auto;
   
}