.container{
    height: 500px;
    width: 500px;
    margin-top: 50px;
   
}


.mat-card-container{
    height: 500px;
    width: 600px;
}



.inner-container{
    height: 80%;
    width: 90%;
    margin: auto;
   
}
.mat-form-field {
    margin-right: 12px;
  }

  .example-full-width{
    width: 80%;
}
.vert{
    font-size: 40px;
}
.textfield{
    width: 60%;
}
.textbox{
    width: 80%;
}

.catagory{
    width: 60%;
}