<!-- <mat-toolbar color="primary">
      
      
      <div class="profile"><img src="../../assets/images/profile.jpg" alt="" max-width="100%" height="40"
        class="rounded-circle"> </div>
      <span class="example-spacer"></span>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <div class="Question"><a href="#">Ask a Question</a></div>

    </mat-toolbar> -->




<div class="main">

    <!-- Header part Start -->
    <div class="header navbar-light bg-light">

        <div class="profile"><img src="../../assets/images/profile.jpg" alt="" max-width="100%" height="40"
                class="rounded-circle">

        </div>
        <div class="Question"><a href="#">Ask a Question</a></div>

    </div>
    <!-- Header part end -->

    <div class="allcontent">


        <!-- Categories start -->
        <div class="topic">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Programming</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">Mathematics</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Science</a></li>
                <li><a href="#">Art & Sociology</a></li>
                <li><a href="#">General Knowledge</a></li>
            </ul>
        </div>
        <!-- Categories end -->










        <!-- Main content part start -->

        <div class="maincontent">


            <!-- Search bar start-->
            <!-- <div class="container mb-5 col-md-10 justify-content-center" style="margin-left: 80px;">
                <form class="d-flex">
                    <input class="form-control text-center me-3" type="search" placeholder="Search" aria-label="Search">
                    
                    <button class="btn btn-outline-success" style="padding: 6px;" type="submit">Search</button>
                  </form>
            </div> -->

            <div class="container mb-5">
                <form action="">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-8">
                            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control"
                                    placeholder="Have a question? Search Now"> <button class="btn btn-primary"
                                    type="submit">Search</button> </div>
                        </div>
                    </div>

                </form>

            </div>
            <!-- Search bar end-->


            <mat-accordion multi>
                <div class="card_design">
                    <mat-card class="example-card">
                        <div class="parent_button">
                            <div class="arrow_button">
                                <img src="../../assets/images/icons/sort-up-solid.svg"
                                    style="max-width: 30px; display: block; margin-top: 20px; max-height: 35px;">
                                <span style="font-size: 20px; margin-left: 6px; ">0</span>
                                <img src="../../assets/images/icons/sort-down-solid.svg"
                                    style="max-width: 30px; display: block; max-height: 35px;">
    
                            </div>
                            <div class="content_p">
                                <mat-card-header>
    
                                    <mat-card-title>What is java?</mat-card-title>
    
                                </mat-card-header>
    
    
                                <mat-card-content>
                                    <p style="margin-left: 16px;">Answer : Application Programming Interface (API) is a
                                        software interface that allows two
                                        applications
                                        to
                                        interact with each other without any user intervention.</p>
                                </mat-card-content>
                            </div>
                            <div>
                                <mat-icon>account_circle</mat-icon>

                            </div>
                        </div>
                        <div>
                            <img src="../../assets/images/icons/thumbs-up-regular.svg" style=" max-width: 20px; margin-left: 84px;">
                            <span>7</span>
                            <img src="../../assets/images/icons/thumbs-down-regular.svg" style="max-width: 20px;margin-left: 30px">
                            <span>0</span>
                        </div>
                        <mat-card-actions align="end">
                            
                            <button mat-raised-button color="primary" (click)="togglePanel()">Reply(4)</button>
                        </mat-card-actions>
                    </mat-card>
    
                    <mat-expansion-panel [expanded]="panelOpenState">
                        <div class="mt-4">
                           
                              
                            <p>Ans 1: Application Programming Interface (API) is a software interface that allows two
                                applications
                                to
                                interact with each other without any user intervention.</p>
                                
                                <mat-divider></mat-divider>
    
                            <p>Ans 2: API is a collection of software
                                functions and procedures. In simple terms,
                            </p>
                            <mat-divider></mat-divider>
    
                            <p>Ans 3: API means a software code that can be accessed or
                                executed. API is defined as a code that helps two different software’s to communicate
                                and
                                exchange data with each other.</p>

    
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Your Answer</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
    
                        </div>
                        <div>
                            <button mat-raised-button color="primary">Post Your Answer</button>
    
                        </div>
    
    
    
    
                    </mat-expansion-panel>
                </div>


                <div class="card_design">
                    <mat-card class="example-card">
                        <div class="parent_button">
                            <div class="arrow_button">
                                <img src="../../assets/images/icons/sort-up-solid.svg"
                                    style="max-width: 30px; display: block; margin-top: 20px; max-height: 35px;">
                                <span style="font-size: 20px; margin-left: 6px; ">0</span>
                                <img src="../../assets/images/icons/sort-down-solid.svg"
                                    style="max-width: 30px; display: block; max-height: 35px;">
    
                            </div>
                            <div class="content_p">
                                <mat-card-header>
    
                                    <mat-card-title>What is an API?</mat-card-title>
    
                                </mat-card-header>
    
    
                                <mat-card-content>
                                    <p style="margin-left: 16px;">Answer : Application Programming Interface (API) is a
                                        software interface that allows two
                                        applications
                                        to
                                        interact with each other without any user intervention.</p>
                                </mat-card-content>
                            </div>
                            <div>
                                <mat-icon>account_circle</mat-icon>

                            </div>
                        </div>
                        <div>
                            <img src="../../assets/images/icons/thumbs-up-regular.svg" style=" max-width: 20px; margin-left: 84px;">
                            <span>7</span>
                            <img src="../../assets/images/icons/thumbs-down-regular.svg" style="max-width: 20px;margin-left: 30px">
                            <span>0</span>
                        </div>
                        <mat-card-actions align="end">
                            
                            <button mat-raised-button color="primary" (click)="togglePanel()">Reply(3)</button>
                        </mat-card-actions>
                    </mat-card>
    
                    <mat-expansion-panel [expanded]="panelOpenState">
                        <div class="mt-4">
                           
                              
                            <p>Ans 1: Application Programming Interface (API) is a software interface that allows two
                                applications
                                to
                                interact with each other without any user intervention.</p>
                                
                                <mat-divider></mat-divider>
    
                            <p>Ans 2: API is a collection of software
                                functions and procedures. In simple terms,
                            </p>
                            <mat-divider></mat-divider>
    
                            <p>Ans 3: API means a software code that can be accessed or
                                executed. API is defined as a code that helps two different software’s to communicate
                                and
                                exchange data with each other.</p>

    
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Your Answer</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
    
                        </div>
                        <div>
                            <button mat-raised-button color="primary">Post Your Answer</button>
    
                        </div>
    
    
    
    
                    </mat-expansion-panel>
                </div>


               
    
              

            </mat-accordion>
            

          










            <!-- <div class="box">


                <div class="descriptive">

                    <h2>Question: What is an API</h2>
                    <p>Ans: Application Programming Interface (API) is a software interface that allows two
                        applications
                        to

                        interact with each other without any user intervention....</p>


                    <div [ngClass]="{'limitTextHeight': isReadMore}">
                        <p>Ans 1: Application Programming Interface (API) is a software interface that allows two
                            applications
                            to
                            interact with each other without any user intervention.</p>

                        <p>Ans 2: API is a collection of software
                            functions and procedures. In simple terms,
                        </p>

                        <p>Ans 3: API means a software code that can be accessed or
                            executed. API is defined as a code that helps two different software’s to communicate
                            and
                            exchange data with each other.</p>
                        <div>
                            <form action="">
                                <div class="mb-3">
                                    <label for="anwer" class="form-label">Your Answer</label>
                                    <textarea class="form-control" id="anwer" rows="3"
                                        placeholder="Type Your Answer"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-success">Submit</button>

                                </div>


                            </form>

                        </div>
                    </div>

                    <button class="read-more-btn float-end btn btn-success" (click)="showText()">{{ isReadMore ?
                        'Answer(3)': 'Less' }}</button>



                </div>
            </div> -->







            <!-- <div style="margin-right: 27px; margin-bottom: 20px;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Question : What is java?

                        </mat-panel-title>

                    </mat-expansion-panel-header>





                    <div>
                        <p>Ans 1: Application Programming Interface (API) is a software interface that allows two
                            applications
                            to
                            interact with each other without any user intervention.</p>

                        <p>Ans 2: API is a collection of software
                            functions and procedures. In simple terms,
                        </p>

                        <p>Ans 3: API means a software code that can be accessed or
                            executed. API is defined as a code that helps two different software’s to communicate
                            and
                            exchange data with each other.</p>

                    </div>

                </mat-expansion-panel>
            </div> -->

























            <!-- <div class="box">
                <div class="left"><img src="../../assets/images/java.png" alt=""></div>

                <div class="right">
                    <h2>Question: What is an API</h2>
                    <p>Ans: Application Programming Interface (API) is a software interface that allows two
                        applications
                        to
                        interact with each other without any user intervention. API is a collection of software
                        functions and procedures. In simple terms, API means a software code that can be accessed or
                        executed. API is defined as a code that helps two different software’s to communicate and
                        exchange data with each other.</p>
                    <a href="#">Read More</a>
                </div>
            </div> -->
        </div>
        <!-- Main content part End -->




        <!-- Recent Activity start -->
        <div class="recent">
            <h4>Recent</h4>
            <div class="recentbox">
                <div class="left"><img src="../../assets/images/java.png" alt=""></div>
                <div class="right">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <hr>
                    <div class="date">
                        <p>01/12/21</p>
                    </div>
                </div>
            </div>

            <div class="recentbox">
                <div class="left"><img src="../../assets/images/java.png" alt=""></div>
                <div class="right">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <hr>
                    <div class="date">
                        <p>01/12/21</p>
                    </div>
                </div>
            </div>

            <div class="recentbox">
                <div class="left"><img src="../../assets/images/java.png" alt=""></div>
                <div class="right">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <hr>
                    <div class="date">
                        <p>01/12/21</p>
                    </div>
                </div>
            </div>

            <div class="recentbox">
                <div class="left"><img src="../../assets/images/java.png" alt=""></div>
                <div class="right">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <hr>
                    <div class="date">
                        <p>01/12/21</p>
                    </div>
                </div>
            </div>




        </div>
        <!-- Recent Activity End -->



    </div>


</div>