<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />-->
<div class="container">
    <div class="page-inner no-page-title">
        <!-- start page main wrapper -->
        <div id="main-wrapper">
            <div class="row">
                <div class="col-lg-5 col-xl-3">
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <!--<h4 class="card-title">User Profile</h4>-->
                        </div>
                        <div class="card-body user-profile-card mb-2">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                class="user-profile-image rounded-circle" alt="" />
                            <h4 class="text-center h6 mt-2">Md.Yunus Hossain</h4>
                            <p class="text-center small">Software Developper</p>
                            <button class="btn btn-theme btn-sm">Follow</button>
                            <button class="btn btn-theme btn-sm">Message</button>
                        </div>
                        <hr />
                        <!--<div class="card-heading clearfix mt-3">
                        <h4 class="card-title">User Profile</h4>
                    </div>
                    <div class="card-body mb-3">
                        <a href="#" class="label label-success mb-2">HTML</a>
                        <a href="#" class="label label-success mb-2">CSS</a>
                        <a href="#" class="label label-success mb-2">Sass</a>
                        <a href="#" class="label label-success mb-2">Bootstrap</a>
                        <a href="#" class="label label-success mb-2">Javascript</a>
                        <a href="#" class="label label-success mb-2">Photoshop</a>
                        <a href="#" class="label label-success">UI</a>
                        <a href="#" class="label label-success">UX</a>
                    </div> -->
                        <hr />
                        <div class="card-heading clearfix mt-3">
                            <h4 class="card-title">About</h4>
                        </div>
                        <div class="card-body mb-3">
                            <p class="mb-0">Lorem ipsum dolor sitelt amet, consectetur adipis icing elit, sed do eiusmod
                                tempor incididunt utitily labore et dolore magna aliqua metavta.</p>
                        </div>
                        <hr />
                        <div class="card-heading clearfix mt-3">
                            <h4 class="card-title">Contact Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0 text-muted">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Email:</th>
                                            <td>addyour@emailhere</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone:</th>
                                            <td>(+44) 123 456 789</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address:</th>
                                            <td>74 Guild Street 542B, Great North Town MT.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">

                  <router-outlet></router-outlet>
                </div>
                <div class="col-lg-12 col-xl-3">
                    <div class="card card-white grid-margin">
                        <div class="ps-absolute t0 r0 d-flex gs6 fw-wrap">
                            <a routerLink="edit-profile" class="flex--item s-btn s-btn_outlined s-btnmuted s-btnicon s-btn_sm"
                                href=""><svg aria-hidden="true" class="svg-icon iconPencil"
                                    width="18" height="18" viewBox="0 0 18 18">
                                    <path
                                        d="m13.68 2.15 2.17 2.17c.2.2.2.51 0 .71L14.5 6.39l-2.88-2.88 1.35-1.36c.2-.2.51-.2.71 0ZM2 13.13l8.5-8.5 2.88 2.88-8.5 8.5H2v-2.88Z">
                                    </path>
                                </svg> Edit profile</a>
                        </div>
                        <div class="card-body">
                            <div class="team">

                            </div>
                        </div>
                    </div>

                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Some Info</h4>
                        </div>
                        <div class="card-body">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- end page main wrapper -->
        <div class="page-footer">
            <p>Copyright © 2020 Evince All rights reserved.</p>
        </div>
    </div>
</div>